@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  font-size: 200px;
  font-family: "filosofia-basic-small-caps", serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: top;
  text-align: left;
}

body {
  font-family: "filosofia-basic-small-caps", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* padding: 30px; */
  background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3247&q=80");
  /* background-size: cover; */
}
h1 {
  font-size: 15px;
  font-family: "filosofia-basic-small-caps", serif;
  color: black;
}
p {
  font-size: 15px;
  color: black;
  font-family: "Anonymous Pro", monospace;
  font-style: normal;
}
a {
  font-size: 12px;
}
span {
  font-size: 10px;
  color: black;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
.link {
  font-size: 20px;
  padding: 25px;
  position: relative;
  color: crimson;
}

.link:hover {
  color: rgb(58, 4, 6);
  transform: scale(1.5);
}
/* .link:visited {
  color: rgb(58, 4, 6);
} */
.foods {
  display: flex;
  position: center;
}

.pouring {
  height: 1000px;
  position: absolute;
  top: 20%;
  z-index: -1;
  /* position: center; */
  /* position: absolute; */
}

.wineCard {
  margin: 10px;
  max-width: 15%;
  height: 415px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  box-shadow: 10px 10px 5px #c0c0c0;
}

.wineCard button {
  background: transparent;
  border: none;
}

.wineCard:hover {
  transform: translateY(-7px);
}
.wineContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wines {
  justify-content: center;
  /* position: absolute; */
  max-width: 150px;
  height: 150px;
  left: 4vw;
}
.wine-description {
  max-height: 500px;
}
.wines:hover {
  transform: scale(2.02);
  /* transform: translateY(-7px);
  transition-timing-function: ease-in-out; */
}
/* .filterSearch {

  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  max-width: 30em;
  text-align: center;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(137, 1, 1, 0.059);
} */
.filterSearch {
  width: 20vw;
  margin: auto;
}
.home {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  /* overflow: scroll; */
}
/* .type {
  
} */

.searchbar {
  position: absolute;
  top: 8%;
  right: 0;
  display: inline;
  text-align: start;
  vertical-align: baseline;
  width: 30em;
  color: -internal-light-dark(black, white);
  /* top: 0;
  right: 0; */
}
/* Global */
html {
  min-height: 100%;
  /* overflow: hidden; */
}
body {
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(4, 4, 4, 0.75);
  font-family: "Anonymous Pro", monospace;
  /* font-family: "meno-display", serif; */
  /* background-color: rgb(25, 25, 25); */
}
.line-1 {
  /* position: relative; */
  top: 50%;
  width: 30em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 160%;
  text-align: center;
  white-space: pre-wrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.line-2 {
  /* position: relative; */
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 160%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.anim-typewriter-2 {
  animation: typewriter 4s steps(44) 6s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.food_pic {
  max-height: 60px;
}
.btn {
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 40px;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  /* padding top & right */

  display: inline-block;
  visibility: hidden;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  /* Moves button up/down on Y axis. UP is a negative value */
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* when a button is clicked, it is "active" */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

/* pseudoelement is the element behind the element */
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5 ease-out 0.75s;
  animation-fill-mode: backwards;
}
.wine-calc {
  max-width: 30em;
  text-align: center;
  margin: auto;
}
#age-verify {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#000, 0.6);
  transition: transition 0.5s;
}
.delete {
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 40px;
}
.delete:link,
.delete:visited {
  text-decoration: none;
  /* padding top & right */

  display: inline-block;
  visibility: hidden;
  transition: all 0.2s;
  position: relative;
}
.delete:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.delete:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0.2);
}
.delete::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.delete:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* .window {
  position: absolute;
  top: 50%;
  width: window-width;
  height: window-height;
  overflow: hidden;
  padding: 40px;
  margin-left: -(window-width/2);
  margin-top: -(window-height/2);
  background-color: #fff;
  border: 6px solid button-color;
  box-sizing: border-box;
  transition: transition;
}
.age-text {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Anonymous Pro", monospace;
}
.age-text .title {
  color: button-color;
  font-size: 24px;
}
button {
  border: 0;
  margin: 0;
  padding: 0;
  width: 48%;
  height: 60px;
  color: #fff;
  font-size: 18px;
  background-color: button-color;
  margin-top: 20px;
}
.back {
  display: block;
  float: none;
  margin: auto;
  background-color: #fff;
  color: button-color !important;
  margin-top: 20px;
}
.yes {
  float: left;
}
.no {
  float: right;
}
button .hover {
  transform: scale(1.1);
  box-shadow: 0 20px 60px rgba(#000, 0.2);
  background-color: lighten(button-color, 10%);
} */
